<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="red">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Report Form</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="divStyle">
    <form [formGroup]="reportFaultForm">
      <div class="list">
        <ion-item>
          <ion-label>Fault Type</ion-label>
          <select-searchable
            [formControl]="reportFaultForm.controls['faultType']"
            item-content
            [items]="faultTypes"
            itemValueField="id"
            itemTextField="faultType"
            [canSearch]="true"
            (onChange)="selectedFault()"
          >
          </select-searchable>

          <ion-icon
            (click)="faultInfoAlert()"
            name="information-circle"
            item-right
            style="color:red"
          ></ion-icon>
        </ion-item>

        <!-- ///////////// FAULT TYPE TRAIN/ ////////////// -->

        <ion-item *ngIf="faultType == 'Train'">
          <ion-label>Category</ion-label>
          <select-searchable
            [formControl]="reportFaultForm.controls['category']"
            item-content
            [items]="categoryForTrain"
            itemValueField="id"
            itemTextField="categoryOption"
            [canSearch]="true"
            (onChange)="selectedCategoryTrain()"
          >
          </select-searchable>
        </ion-item>
        <!-- /////////////Common Faults /////////////// -->
        <ion-item *ngIf="category == 'Seat'">
          <ion-label>Common Faults</ion-label>
          <select-searchable
            [formControl]="reportFaultForm.controls['commonFault']"
            item-content
            [items]="seatCommonFaults"
            itemValueField="id"
            itemTextField="commonFaultOption"
            [canSearch]="true"
            (onChange)="checkCommonFault()"
          >
          </select-searchable>
        </ion-item>

        <ion-item *ngIf="category == 'Window'">
          <ion-label>Common Faults</ion-label>
          <select-searchable
            [formControl]="reportFaultForm.controls['commonFault']"
            item-content
            [items]="windowCommonFaults"
            itemValueField="id"
            itemTextField="commonFaultOption"
            [canSearch]="true"
            (onChange)="checkCommonFault()"
          >
          </select-searchable>
        </ion-item>

        <ion-item *ngIf="commonFault == 'Toilet'">
          <ion-label>Common Faults</ion-label>
          <select-searchable
            item-content
            [formControl]="reportFaultForm.controls['commonFault']"
            [items]="toiletCommonFaults"
            itemValueField="id"
            itemTextField="commonFaultOption"
            [canSearch]="true"
            (onChange)="checkCommonFault()"
          >
          </select-searchable>
        </ion-item>
        <!--
          //////////////////Description If selected common fault is "other"////////////////
        -->

        <ion-item *ngIf="commonFault == 'Other'">
          <ion-label>Description:</ion-label>
          <ion-textarea
            [formControl]="reportFaultForm.controls['description']"
          ></ion-textarea>
        </ion-item>

        <!-- /////////////////Fault Type Station /////////////////// -->

        <ion-item *ngIf="faultType == 'Station'">
          <ion-label>Category</ion-label>
          <select-searchable
            [formControl]="reportFaultForm.controls['category']"
            item-content
            [items]="categoryForStation"
            itemValueField="id"
            itemTextField="categoryOption"
            [canSearch]="true"
          >
          </select-searchable>
        </ion-item>

        <!-- /////////////Journey Information////////////// -->
        <ion-item>
          <ion-label>Journey Info.</ion-label>
          <select-searchable
            [formControl]="reportFaultForm.controls['journeyInfo']"
            item-content
            [items]="journeyInfoList"
            itemValueField="id"
            itemTextField="journeyInfoOption"
            [canSearch]="true"
          >
          </select-searchable>
          <ion-icon
            (click)="faultInfoAlert()"
            name="information-circle"
            item-right
            style="color:red"
          ></ion-icon>
        </ion-item>

        <!-- /////////////Journey Time and Date /////////////// -->

        <ion-item>
          <ion-label>Journey Time & Date</ion-label>
          <ion-datetime
            [formControl]="reportFaultForm.controls['journeyTimeAndDate']"
            displayFormat="MMM DD, YYYY HH:mm"
          ></ion-datetime>
        </ion-item>

        <!-- ////////////Coach Information ///////////// -->

        <ion-item>
          <ion-label>Coach Info.</ion-label>
          <select-searchable
            [formControl]="reportFaultForm.controls['coachInfo']"
            item-content
            [items]="coachInfoList"
            itemValueField="id"
            itemTextField="coachNumber"
            [canSearch]="true"
            (onChange)="selectedCoach()"
          >
          </select-searchable>
        </ion-item>

        <!-- ////////////Seat number if coach type is urban//////////// -->
        <ion-item *ngIf="coachType == 'urban'">
          <ion-label>Seat No.</ion-label>
          <ion-input
            [formControl]="reportFaultForm.controls['seatNumber']"
            type="number"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Get notification about this fault?</ion-label>
          <ion-checkbox color="dark"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-input
            [formControl]="reportFaultForm.controls['email']"
            type="text"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Upload Photo:</ion-label>

          <ion-icon name="attach" item-right></ion-icon>

          <ion-icon name="camera" (click)="takePhoto()" item-right></ion-icon>

          <img src="{{faultPhoto}}" *ngIf="faultPhoto" />
        </ion-item>

        <button (click)="submit()" ion-button color="danger">Submit</button>
        <button (click)="reset()" ion-button color="danger">Clear</button>
        <button (click)="cancel()" ion-button color="danger">Cancel</button>
      </div>
    </form>
  </div>
</ion-content>
